{% load i18n  %}

<div class="info detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Project Name" %}</dt>
    <dd>{{ project.name }}</dd>
    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ project.id }}</dd>
    <dt>{% trans "Enabled" %}</dt>
    <dd>{{ project.enabled|yesno|capfirst }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ project.description|default:_("None") }}</dd>
    <dt>{% trans "Parent Project Name" %}</dt>
    <dd>{{ parent_project_name|default:_("None") }}</dd>
    <dt>{% trans "Parent Project ID" %}</dt>
    <dd>{{ project.parent_id|default:_("None") }}</dd>
  </dl>
</div>

